---
import TabletLayout from "../layouts/Tablet.astro";
import App from "../layouts/App.astro";
import Navigation from "@/components/Navigation";
---

<TabletLayout title="Tablet">
  <App>
    <Navigation client:load header="Sanatorio Ramírez" />
    <div class="grid grid-cols-2 gap-6">
      <a
        href="/tablet/reserva-internacion"
        class="h-40 bg-sky-300 rounded-lg shadow-2xl shadow-sky-300 hover:shadow-sky-500 hover:scale-105 transition-all z-0 hover:z-10 duration-300 text-xl p-4 grid items-center text-center text-pretty font-bold uppercase"
        >Reserva de internación</a
      >
      <a
        href="/tablet/check-in"
        class="h-40 bg-sky-300 rounded-lg shadow-2xl shadow-sky-300 hover:shadow-sky-500 hover:scale-105 transition-all z-0 hover:z-10 duration-300 text-xl p-4 grid items-center text-center text-pretty font-bold uppercase"
        >Check-in virtual</a
      >
      <a
        href="/tablet/atencion-en-admision"
        class="h-40 bg-sky-300 rounded-lg shadow-2xl shadow-sky-300 hover:shadow-sky-500 hover:scale-105 transition-all z-0 hover:z-10 duration-300 text-xl p-4 grid items-center text-center text-pretty font-bold uppercase"
        >Atención en admisión</a
      >

      <a
      href="/tablet/traslado-de-pacientes"
      class="h-40 bg-sky-300 rounded-lg shadow-2xl shadow-sky-300 hover:shadow-sky-500 hover:scale-105 transition-all z-0 hover:z-10 duration-300 text-xl p-4 grid items-center text-center text-pretty font-bold uppercase"
      >Traslado de pacientes</a
    >
    </div>
  </App>
</TabletLayout>
