---
import TabletLayout from "../../layouts/Tablet.astro";
import App from "../../layouts/App.astro";
---

<TabletLayout title="Tablet">
  <App>
    <h1 class="text-lg">Sanatorio Buena Salud</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      accusantium ad nobis deserunt ea nostrum adipisci odio cumque. Libero
      necessitatibus ratione fugit est. Aut sequi itaque fuga numquam eum nihil?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      accusantium ad nobis deserunt ea nostrum adipisci odio cumque. Libero
      necessitatibus ratione fugit est. Aut sequi itaque fuga numquam eum nihil?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      accusantium ad nobis deserunt ea nostrum adipisci odio cumque. Libero
      necessitatibus ratione fugit est. Aut sequi itaque fuga numquam eum nihil?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      accusantium ad nobis deserunt ea nostrum adipisci odio cumque. Libero
      necessitatibus ratione fugit est. Aut sequi itaque fuga numquam eum nihil?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      accusantium ad nobis deserunt ea nostrum adipisci odio cumque. Libero
      necessitatibus ratione fugit est. Aut sequi itaque fuga numquam eum nihil?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      accusantium ad nobis deserunt ea nostrum adipisci odio cumque. Libero
      necessitatibus ratione fugit est. Aut sequi itaque fuga numquam eum nihil?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      accusantium ad nobis deserunt ea nostrum adipisci odio cumque. Libero
      necessitatibus ratione fugit est. Aut sequi itaque fuga numquam eum nihil?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      accusantium ad nobis deserunt ea nostrum adipisci odio cumque. Libero
      necessitatibus ratione fugit est. Aut sequi itaque fuga numquam eum nihil?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      accusantium ad nobis deserunt ea nostrum adipisci odio cumque. Libero
      necessitatibus ratione fugit est. Aut sequi itaque fuga numquam eum nihil?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      accusantium ad nobis deserunt ea nostrum adipisci odio cumque. Libero
      necessitatibus ratione fugit est. Aut sequi itaque fuga numquam eum nihil?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      accusantium ad nobis deserunt ea nostrum adipisci odio cumque. Libero
      necessitatibus ratione fugit est. Aut sequi itaque fuga numquam eum nihil?
    </p>
  </App>
</TabletLayout>
